* {
    transition: 0.25s ease-in-out;
    box-sizing: border-box;
}

#menu-toggle {
    border: 1px solid red;
    width: 100px;
    height: 100px;
    margin: 10px;
    z-index: 5;
}

.lines {
    display: block;
    background: #566973;
    border-radius: 2px;
}

#menu-toggle #hamburger span:nth-child(1) {
    width: 60px;
    height: 4px;
    position: relative;
    top: 24px;
    left: 20px;
    margin: 10px 0;
}

#menu-toggle #hamburger span:nth-child(1):nth-child(1) {
    transition-delay: 0.5s;
}

#menu-toggle #hamburger span:nth-child(2) {
    width: 40px;
    height: 4px;
    position: relative;
    top: 24px;
    left: 20px;
    margin: 10px 0;
}

#menu-toggle #hamburger span:nth-child(2):nth-child(1) {
    transition-delay: 0.625s;
}

#menu-toggle #hamburger span:nth-child(3) {
    width: 50px;
    height: 4px;
    position: relative;
    top: 24px;
    left: 20px;
    margin: 10px 0;
}

#menu-toggle #hamburger span:nth-child(3):nth-child(1) {
    transition-delay: 0.75s;
}

#menu-toggle #hamburger span:nth-child(4) {
    width: 45px;
    height: 4px;
    position: relative;
    top: 24px;
    left: 20px;
    margin: 10px 0;
}

#menu-toggle #hamburger span:nth-child(4):nth-child(1) {
    transition-delay: 0.45s;
}

#menu-toggle #cross {
    position: absolute;
    top: 35px;
    left: 35px;
    height: 50px;
    width: 50px;
    transform: rotate(45deg);
    border: 1px solid blue;
}

#menu-toggle #cross span:nth-child(1) {
    height: 0;
    width: 2px;
    position: absolute;
    top: 50%;
    left: 48px;
    bottom: 50px;
    transition-delay: 0s;
}

#menu-toggle #cross span:nth-child(2) {
    width: 0%;
    height: 2px;
    position: absolute;
    left: 50%;
    top: 48px;
    transition-delay: 0.25s;
}

#menu-toggle.is-active #hamburger span {
    width: 0%;
}

#menu-toggle.is-active #hamburger span:nth-child(1) {
    transition-delay: 0s;
}

#menu-toggle.is-active #hamburger span:nth-child(2) {
    transition-delay: 0.125s;
}

#menu-toggle.is-active #hamburger span:nth-child(3) {
    transition-delay: 0.25s;
}

#menu-toggle.is-active #hamburger span:nth-child(4) {
    transition-delay: 0.45s;
}

#menu-toggle.is-active #cross span:nth-child(1) {
    height: 80%;
    transition-delay: 0.625s;
}

#menu-toggle.is-active #cross span:nth-child(2) {
    width: 80%;
    transition-delay: 0.375s;
}