:root {
    --fuente-titulos: 'Raleway', sans-serif;
    --fuente-texto: 'Quicksand', sans-serif;
    --blue-metalic: #3D5A80;
    --color-texto: #293241;
    --orange:#EE6C4D;
    --blue-soft:#97c0d8;
    --placeholder-weight: 500;
    --labels-weigth: 700;
    --subtitulo-weight: 700;
    --linear-bg: linear-gradient(0deg, #55f1f1 0%, #97c0d8 60%, #97c0d8 100%);
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--fuente-texto);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    border: 3px solid red;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 1fr 80px;
}

header {
    display: grid;
    grid-template-columns: 100px 1fr;
    place-items: center;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}

.logo {
    color: var(--color-texto);
    font-family: var(--fuente-titulos);
    font-size: 1em;
}

.orange {
    color: var(--orange);
}

.hero {
    border: 1px solid green;
    grid-row: 2 / 4;
    grid-column: 1 / -1;
}

.hero-description {
    border: 1px solid red;
    padding: 10px;
    display: grid;
    grid-template-rows: 80px 50px 80px;
    grid-template-columns: repeat(2,1fr);
}

.hero-title {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    text-align: center;
    font-size: 1.2em;
    font-weight: var(--subtitulo-weight);
}

.hero-subtitle {
    font-size: 1em;
    letter-spacing: 1px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.hero-notifications {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    /* border: 1px solid red; */
    display: grid;
    justify-content: center;
}

.hero-notifications ul {
    display: flex;
    align-items: center;
    /* border: 1px solid blue; */
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.hero-notifications li, a {
    margin: 8px 10px;
    text-decoration: none;
    font-size: 1.085em;
    color: var(--blue-soft);
}

.hero form {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 3 / -1;
    place-items: center;
}

#nameProduct {
    padding:6px;
    border-radius:5px;
    outline:none;
    border: none;
    width:230px;
    font-family: var(--fuente-texto);
    box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.3);
}

#nameProduct::placeholder {
   color:#293241;
   font-family: var(--fuente-titulos);
   margin:0px 10px;
}

.btn-search {
    padding:6px;
    border-radius:5px;
    outline: none;
    background-color:#293241;
    border:none;
    box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.3);

}

.fa-search {
    color:#EE6C4D;
    cursor:pointer;
}

.btn-search:hover{
    background-color:#3D5A80;
    cursor: pointer;
}

.hamburger {
    z-index: 5;
    /* position: fixed; */
    top: 10px;
}

.navbar-menu {
    position: fixed;
    background-color: #3D5A80;
    z-index: 3;
    top: 0;
    left: -100vw;
    width: 235px;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: .3s;
}


.open {
    left: 0vw;
}

.navbar-menu ul {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
}

.navbar-menu ul li {
    height: 60px;
}

.navbar-menu  li {
    list-style: none;
    margin: 0;
    padding: 0;
} 

.link {
    height: 30px;
    font-size: 1.5em;
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #97c0d8;
    background-color: rgba(117, 127, 138,0.3);
    padding: 10px;
    border-radius: 8px;
}

