<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../components/notifications.css">
    <!--fontawesome icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous" />
</head>
<body>
    <div class="notification center">
        <input type="checkbox" class="bell" name="" id="">
        <div class="num number center">4</div>
        <div class="box">
            <div class="heading center">
                <p><span class="number">4</span>Notifications</p>
            </div>
            <div class="notification_box">
                <p><i class="fas fa-user"></i> Alguien le gusta tu foto</p>
                <p><i class="fas fa-user"></i> Alguien le gusta tu foto</p>
                <p><i class="fas fa-user"></i> Alguien le gusta tu foto</p>
                <p><i class="fas fa-user"></i> Alguien le gusta tu foto</p>
                <p><i class="fas fa-user"></i> Alguien le gusta tu foto</p>
                <p><i class="fas fa-user"></i> Alguien le gusta tu foto</p>
            </div>
        </div>
    </div>
    <!-- <script>
        const box = document.querySelectorAll(".notification_box p");
        const number = document.querySelectorAll(".number");
        number.forEach(item => item.innerText = box.length);
    </script> -->
</body>
</html>